Repository ZiJson/DinBenDon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

feat: add layout route
  src/pages/Admin/index.tsx
  src/pages/index.tsx
  src/routes/index.tsx
  src/routes/layout.tsx
  src/routes/paths.ts
Due: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

feat: add PR template
  .github/pull_request_template.md
Due: none

modify: integrate auth logice into userStore and also move fields and button to view component
  .lintstagedrc
  src/pages/Login/index.tsx
  src/stores/__test__/userStore.test.ts
  src/stores/authStore.ts
  src/stores/index.ts
  src/stores/userStore.ts
Due: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

feature: add react-query example
  src/api/queries/shop.tsx
  src/pages/Admin/index.tsx
  src/routes/index.tsx
Due: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

feat: add protected layouts for handle user is login or not
  src/layouts/ProtectedLayout.tsx
  src/routes/index.tsx
  src/routes/layout.tsx
  src/routes/paths.ts
  tsconfig.json
Due: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

feat: add get( ) handling GET method
  src/api/queries/shop.tsx
  src/pages/Admin/index.tsx
  src/services/api.ts
  src/services/queries/shop.tsx
Due: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

modify: prevent console.log and turn off consistent type defintion
  .eslintrc.cjs
Due: none

feat: fetch logic
  src/hooks/index.ts
  src/hooks/useSubmit.tsx
  src/pages/Login/index.tsx
  src/services/api.ts
  src/services/mutations.ts
  src/services/queries.ts
  src/services/types.ts
Due: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

feat: add github actions for deploy to github pages
  .github/workflows/deploy_to_gh_pages.yml
Due: none

update: update peaceiris version
  .github/workflows/deploy_to_gh_pages.yml
Due: none

modify: add base property into config
  vite.config.ts
Due: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

modify: add homepage property into package.json
  package.json
Due: prettier --write --ignore-unknown

merge main
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/hooks/index.ts
  src/hooks/useSubmit.tsx
  src/pages/Admin/AddShop/data.ts
  src/pages/Admin/AddShop/index.tsx
  src/pages/Admin/components/Card.tsx
  src/pages/Admin/index.tsx
  src/pages/Login/index.tsx
  src/pages/index.tsx
  src/routes/index.tsx
  src/routes/paths.ts
  src/services/api.ts
  src/services/mutations.ts
  src/services/queries.ts
  src/services/queries/shop.tsx
  src/services/types.ts
  vite.config.ts
Due: eslint --quiet --fix, vitest related --run, prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix: any of: **/*.{js,jsx,ts,tsx}
  vitest related --run: any of: **/*.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: **/*.{json,js,ts,jsx,tsx,html}
